# Database Configuration
DB_URL=jdbc:postgresql://localhost:5432/trading
DB_USERNAME=YOUR_DB_USERNAME
DB_PASSWORD=YOUR_DB_PASSWORD

# JWT Security Secret
JWT_SECRET=YOUR_JWT_SECRET

# Application Port
SERVER_PORT=8080

# Frontend API Base URL
VITE_API_BASE_URL=http://localhost:8080
